body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #f9d71c;
}

table td:last-child {
    width: 10%; 
    white-space: nowrap; /* Evita que el contenido se ajuste a varias líneas */
}


.boton a {
    background-color: #f9d71c; /* Color de fondo amarillo */
    color: #333; /* Texto negro */
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center;
    text-decoration: none; /* Sin subrayado */
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    display: block; 
    margin: 0; /* Asegúrate de que no tenga márgenes adicionales */
}
