{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZonaDRS</title>
    <link rel="stylesheet" href="{% static 'style/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'style/content.css' %}">
    <link rel="stylesheet" href="{% static 'style/detalle.css' %}">
    <link rel="stylesheet" href="{% static 'style/reparacion.css' %}">
</head>
<body>
    <div class="sidebar">
        <h1><a id="index" href="{% url 'index' %}">Panel de Trabajadores</a></h1>
        <ul>
            <a href="{% url 'listaVehiculos' %}" class="menu-item"><li>Vehículos</li></a>
            <a href="{% url 'listaMecanicos' %}" class="menu-item"><li>Mecánicos</li></a>
            <a href="{% url 'listaReparaciones' %}" class="menu-item"><li>Reparaciones</li></a>
            <a href="{% url 'listaPropietarios' %}" class="menu-item"><li>Propietarios</li></a>
            <a href="{% url 'index' %}"><img src="{% static 'img/zonaDRSLogo.png' %}" alt="index"></a>
            
        </ul>
    </div>
    <div class="content">
        {% block contenido %} {% endblock %}
    </div>

    
<body/>
</html>