<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mecanico.nombre}} {{mecanico.apellido1}} {{mecanico.apellido2}} - ZonaDRS</title>
</head>
<body>
    <h1>{{mecanico.nombre}} {{mecanico.apellido1}} {{mecanico.apellido2}}</h1>
    <img src="{{mecanico.imagen_url}}" alt="Imagen de {{mecanico.nombre}} {{mecanico.apellido1}} {{mecanico.apellido2}}">
    <p><strong>Numero de la Seguridad Social:</strong> {{mecanico.num_ss}}</p>
    <p><strong>Fecha de nacimiento:</strong> {{mecanico.fecha_nacimiento}}</p>
    <p><strong>Dirección:</strong> {{mecanico.direccion}}</p>
    <p><strong>Fecha de inicio del contrato:</strong> {{mecanico.fecha_inicio_contrato}}</p>
    <p><strong>Fecha de fin del contrato:</strong> {{mecanico.fecha_fin_contrato}}</p>
    <p><strong>Reparaciones:</strong></p>
    <ul>
        {% for reparacion in reparaciones %}
            <li><a href="{% url 'detalleReparacion' reparacion.id %}">Nº de reparación: {{reparacion.id}} | {{ reparacion.fecha_inicio }} - {{ reparacion.fecha_fin }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>