{% extends "base.html" %}
{% block contenido %}
<body>
    <div class="container2">
        <div class="profile-container">
            <div class="profile-photo">
                <img src={{mecanico.imagen_url}} alt="Foto de perfil">
            </div>
            <div class="profile-info">
                <h2>{{mecanico.nombre}} {{mecanico.apellido1}} {{mecanico.apellido2}}</h2>
                <p>{{mecanico.num_ss}}</p>
                <div class="section-title">Información adicional</div>
                <div class="info-item"><strong>Dirección:</strong> {{mecanico.direccion}}</div>
                <div class="info-item"><strong>Fecha nacimiento:</strong> {{mecanico.fecha_nacimiento}}</div>
                <div class="info-item"><strong>Inicio contrato:</strong> {{mecanico.fecha_inicio_contrato}}</div>
                <div class="info-item"><strong>Fin contrato:</strong> {{mecanico.fecha_fin_contrato}}</div>
            </div>
        </div>
        
        <!-- Cuadro adicional en el lado derecho -->
        <div class="extra-box">
            <h2>Reparaciones</h2>
            <div class="search-container">
                <div class="search-box">
                    <input type="text" class="search-input" placeholder="Buscar por numero de reparación..." id="searchInput">
                </div>
            </div>
            <ul class="reparaciones" id="reparacionesList">
                {% for reparacion in mecanico.reparaciones.all %}
                    <a href="{% url 'detalleReparacion' reparacion.id %}"><li>Nº de reparación: {{reparacion.id}} | {{ reparacion.fecha_inicio }} - {{ reparacion.fecha_fin }}</li></a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        // Función de búsqueda por ID
        document.getElementById('searchInput').addEventListener('keyup', function() {
            let filter = this.value.trim(); // Tomar el valor ingresado y eliminar espacios en blanco
            let list = document.getElementById('reparacionesList');
            let items = list.getElementsByTagName('li');

            for (let i = 0; i < items.length; i++) {
                let link = items[i].getElementsByTagName('a')[0];
                let idText = link.textContent.split(':')[1].split('|')[0].trim(); // Extraer solo el número de ID

                if (idText.startsWith(filter)) {
                    items[i].style.display = '';
                } else {
                    items[i].style.display = 'none';
                }
            }
        });
    </script>

</body>
{% endblock %}