<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{vehiculo.matricula}} - ZonaDRS</title>
</head>
<body>
    <h1>Detalles del Vehículo</h1>
    <p><strong>Matrícula:</strong> {{ vehiculo.matricula }}</p>
    <p><strong>Tipo:</strong> {{ vehiculo.tipo }}</p>
    <p><strong>Marca:</strong> {{ vehiculo.marca }}</p>
    <p><strong>Modelo:</strong> {{ vehiculo.modelo }}</p>
    <p><strong>Color:</strong> {{ vehiculo.color }}</p>
    <p><strong>Fecha de Fabricación:</strong> {{ vehiculo.fecha_fabricacion }}</p>
    <p><strong>Propietario:</strong> <a href="{% url 'detallePropietario' vehiculo.propietario.dni %}">{{ vehiculo.propietario }}</a></p>
    <p><strong>Reparaciones:</strong></p>
    <ul>
        {% for reparacion in reparaciones %}
            <li><a href="{% url 'detalleReparacion' reparacion.id %}">Nº de reparación: {{reparacion.id}} | {{ reparacion.fecha_inicio }} - {{ reparacion.fecha_fin }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>