<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{propietario.nombre}} {{propietario.apellido1}} {{propietario.apellido2}} - ZonaDRS</title>
</head>
<body>
    <h1>{{propietario.nombre}} {{propietario.apellido1}} {{propietario.apellido2}}</h1>
    <p>DNI: {{propietario.dni}}</p>
    <p>Nombre: {{propietario.nombre}}</p>
    <p>Apellido 1: {{propietario.apellido1}}</p>
    <p>Apellido 2: {{propietario.apellido2}}</p>
    <p>Fecha de nacimiento: {{propietario.fecha_nacimiento}}</p>
    <p>Dirección: {{propietario.direccion}}</p>
</body>
</html>