{% extends "base.html" %}
{% load static %}
{% block contenido %}
<body>    
  <div class="container">
    <div class="carousel">
      <div class="carousel-images">
        {% for imagen in reparacion.imagenesReparacion.all %}
          <img src="{{imagen}}" alt="Image 1">
        {% endfor %}
      </div>
      <button class="prev-btn">‹</button>
      <button class="next-btn">›</button>
    </div>
    <div id="panel-derecho">
      <div class="extra-box2">
        <h2>Reparacion número {{reparacion.id}}</h2>
        <ul class="reparaciones" id="reparacionesList">
          <a href="{% url 'detalleVehiculo' reparacion.vehiculo.matricula %}"><li>{{ reparacion.vehiculo.tipo }} | {{reparacion.vehiculo.matricula}} | {{ reparacion.vehiculo.marca }} {{ reparacion.vehiculo.modelo }}</li></a>
        </ul>
        <p>Fecha inicio: {{reparacion.fecha_inicio}}</p>
        <p>Fecha fin: {{reparacion.fecha_fin}}</p>
        <p>Coste: {{reparacion.coste}} €</p>
      </div>
      <div class="extra-box2">
        <h2>Mecánicos</h2>
        <ul class="reparaciones" id="reparacionesList">
        {% for mecanico in reparacion.mecanico.all %}
          <a href="{% url 'detalleMecanico' mecanico.num_ss %}"><li>{{ mecanico.nombre }} {{ mecanico.apellido1 }} {{ mecanico.apellido2 }} | {{mecanico.num_ss}}</li></a>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>
{% endblock %}