{% extends "base.html" %}
{% block contenido %}
<body data-page="detalle-mecanico">
    <div class="container2">
        <div class="profile-container">
            <div class="profile-photo">
                <img src={{mecanico.imagen_url}} alt="Foto de perfil">
            </div>
            <div class="profile-info">
                <h2>{{mecanico.nombre}} {{mecanico.apellido1}} {{mecanico.apellido2}}</h2>
                <p>{{mecanico.num_ss}}</p>
                <div class="section-title">Información adicional</div>
                <div class="info-item"><strong>Dirección:</strong> {{mecanico.direccion}}</div>
                <div class="info-item"><strong>Fecha nacimiento:</strong> {{mecanico.fecha_nacimiento}}</div>
                <div class="info-item"><strong>Inicio contrato:</strong> {{mecanico.fecha_inicio_contrato}}</div>
                <div class="info-item"><strong>Fin contrato:</strong> {{mecanico.fecha_fin_contrato}}</div>
            </div>
        </div>
        
        <!-- Cuadro adicional en el lado derecho -->
        <div class="extra-box">
            <h2>Reparaciones</h2>
            <div class="search-container">
                <div class="search-box">
                    <input type="text" class="search-input" placeholder="Buscar por numero de reparación..." id="searchInput">
                </div>
            </div>
            <ul class="reparaciones" id="reparacionesList">
                {% for reparacion in mecanico.reparaciones.all %}
                    <a href="{% url 'detalleReparacion' reparacion.id %}"><li>Nº de reparación: {{reparacion.id}} | {{ reparacion.fecha_inicio }} - {{ reparacion.fecha_fin }}</li></a>
                {% endfor %}
            </ul>
        </div>
    </div>


</body>
{% endblock %}