{% extends "base.html" %}
{% load static %}
{% block contenido %}
<body>
    <div class="container2">
        <div class="profile-container">
            <div class="profile-photo">
                {% if propietario.genero == 'H' %}
                    <img src="{% static 'img/man-icon.png' %}" alt="Foto de hombre">
                {% elif propietario.genero == 'M' %}
                    <img src="{% static 'img/woman-icon.png' %}" alt="Foto de mujer">
                {% endif %}
            </div>
            <div class="profile-info">
                <h2>{{propietario.nombre}} {{propietario.apellido1}} {{propietario.apellido2}}</h2>
                <p>{{propietario.dni}}</p>
                <div class="section-title">Información adicional</div>
                <div class="info-item"><strong>Dirección:</strong> {{propietario.direccion}}</div>
                <div class="info-item"><strong>Fecha nacimiento:</strong> {{propietario.fecha_nacimiento}}</div>
            </div>
        </div>
        
        <div class="extra-box">
            <h2>Vehiculos</h2>
            <div class="search-container">
                <div class="search-box">
                    <input type="text" class="search-input" placeholder="Buscar por matricula..." id="searchInput">
                </div>
            </div>
            <ul class="reparaciones" id="reparacionesList">
                {% for vehiculo in propietario.vehiculos.all %}
                    <li><a href="{% url 'detalleVehiculo' vehiculo.matricula %}">{{ vehiculo.tipo }} | {{vehiculo.matricula}} | {{ vehiculo.marca }} {{ vehiculo.modelo }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        filtrarPorMatricula();
    </script>
    

</body>
{% endblock %}