{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Principal - Taller</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
</head>
<body>
    <div class="main-screen">
        <h1>Bienvenido al Panel de Administración del Taller</h1>
        <div class="menu-grid">
            <a href="{% url 'listaVehiculos' %}" class="menu-item">Vehículos</a>
            <a href="{% url 'listaMecanicos' %}" class="menu-item">Mecánicos</a>
            <a href="{% url 'listaReparaciones' %}" class="menu-item">Reparaciones</a>
            <a href="{% url 'listaPropietarios' %}" class="menu-item">Propietarios</a>
        </div>
        
    </div>
</body>
</html>
