{% extends "base.html" %}
{% block contenido %}
    <div class="content">
        <h2>Mecanicos</h2>
<table>
        <tr>
            <th>Nombre</th>
            <th>1º Apellido</th>
            <th>2º Apellido</th>
            <th>Num SS</th>
            <th></th>
        </tr>
        {% for mecanico in mecanicos %}
        <tr>
                <td>{{ mecanico.nombre }}</td>
                <td>{{ mecanico.apellido1 }}</td>
                <td>{{ mecanico.apellido2 }}</td>
                <td>{{ mecanico.num_ss }}</td>
                <td>
                    <div class="boton">
                        <a href="{% url 'detalleMecanico' mecanico.num_ss %}">
                            Ver más
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        
    </table>
    </div>
{% endblock %}
