{% extends "base.html" %}
{% block contenido %}
<div class="content">
    <h2>Reparaciones</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Matrícula</th>
            <th></th>
        </tr>
        {% for reparacion in reparaciones %}
        <tr>
            <td>{{ reparacion.id }}</td>
            <td>{{ reparacion.fecha_inicio }}</td>
            <td>{{ reparacion.fecha_fin }}</td>
            <td>{{ reparacion.vehiculo.matricula }}</td>
            <td>
                <div class="boton">
                    <a href="{% url 'detalleReparacion' reparacion.id %}">
                        Ver más
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="http://127.0.0.1:8000/admin/Zona_DRS_APP/reparacion/add/" class="boton_admin">Añadir reparación</a>
</div>
{% endblock %}
