{% extends "base.html" %}
{% block contenido %}
<div class="content">
    <h2>Propietarios</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>1º Apellido</th>
            <th>2º Apellido</th>
            <th>DNI</th>
            <th></th>
        </tr>
        {% for propietario in propietarios %}
        <tr>
                <td>{{ propietario.nombre }}</td>
                <td>{{ propietario.apellido1 }}</td>
                <td>{{ propietario.apellido2 }}</td>
                <td>{{ propietario.dni }}</td>
                <td>
                    <div class="boton">
                        <a href="{% url 'detallePropietario' propietario.dni %}">
                            Ver más
                        </a>
                    </div>
                </td>
            </tr> 
        {% endfor %}
    </table>
</div>
{% endblock %}
