{% extends "base.html" %}
{% block contenido %}
    <div class="content">
        <h2>Vehículos</h2>
        <table>
            <tr>
                <th>Matrícula</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th></th>
            </tr>
            {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ vehiculo.matricula }}</td>
                    <td>{{ vehiculo.tipo }}</td>
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>
                    <div class="boton">
                        <a href="{% url 'detalleVehiculo' vehiculo.matricula %}">
                            Ver más
                        </a>
                    </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="http://127.0.0.1:8000/admin/Zona_DRS_APP/vehiculo/add/" class="boton_admin">Añadir Vehículo</a>
    </div>
{% endblock %}
